PDS_FilterFirDesign/User_Interface.json
[
    {
        "id": "eacb55d2.e83628",
        "type": "tab",
        "label": "PDS Project v2.0",
        "disabled": false,
        "info": ""
    },
    {
        "id": "22f05bce.526a94",
        "type": "ui_dropdown",
        "z": "eacb55d2.e83628",
        "name": "Grupo Altas/Baixas",
        "label": "Filtro",
        "tooltip": "Aqui você pode escolher um tipo de filtro",
        "place": "Escolha um filtro",
        "group": "3655a0e7.fa203",
        "order": 1,
        "width": 7,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Selecione uma opção",
                "value": "0",
                "type": "str"
            },
            {
                "label": "Passa-Baixas",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Passa-Altas",
                "value": "2",
                "type": "str"
            },
            {
                "label": "Passa-Faixas",
                "value": "3",
                "type": "str"
            },
            {
                "label": "Rejeita-Faixas",
                "value": "4",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "filtertype",
        "x": 270,
        "y": 640,
        "wires": [
            [
                "405a80cf.f6c03",
                "a7f8b05.05ffe5",
                "1d46f315.b50f3d"
            ]
        ]
    },
    {
        "id": "405a80cf.f6c03",
        "type": "switch",
        "z": "eacb55d2.e83628",
        "name": "Comparador",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 740,
        "wires": [
            [
                "1d622fcb.25cf4"
            ],
            [
                "211bbb09.9fffd4"
            ]
        ]
    },
    {
        "id": "b8194bb5.af2a98",
        "type": "ui_ui_control",
        "z": "eacb55d2.e83628",
        "name": "Dashboard Manager",
        "events": "all",
        "x": 980,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "1d622fcb.25cf4",
        "type": "function",
        "z": "eacb55d2.e83628",
        "name": "Display Group 1",
        "func": "msg.payload =   {\"group\":{\"show\":\"PDS_Project_v2_Filter_1\",\n                          \"hide\":\"PDS_Project_v2_Filter_3\",\n                          \"focus\":false}}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 740,
        "y": 720,
        "wires": [
            [
                "b8194bb5.af2a98"
            ]
        ]
    },
    {
        "id": "211bbb09.9fffd4",
        "type": "function",
        "z": "eacb55d2.e83628",
        "name": "Display Group 2",
        "func": "msg.payload = {\"group\":{\"show\":\"PDS_Project_v2_Filter_3\",\n                        \"hide\":\"PDS_Project_v2_Filter_1\",\n                        \"focus\":false}}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 740,
        "y": 780,
        "wires": [
            [
                "b8194bb5.af2a98"
            ]
        ]
    },
    {
        "id": "13469f7a.c48721",
        "type": "ui_dropdown",
        "z": "eacb55d2.e83628",
        "name": "",
        "label": "Atenuação",
        "tooltip": "Atenuação",
        "place": "Selecione uma opção",
        "group": "317d3b9b.a45164",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "-21 dB",
                "value": 1,
                "type": "num"
            },
            {
                "label": "-25 dB",
                "value": 2,
                "type": "num"
            },
            {
                "label": "-44 dB",
                "value": 3,
                "type": "num"
            },
            {
                "label": "-53 dB",
                "value": 4,
                "type": "num"
            },
            {
                "label": "-74 dB",
                "value": 5,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "att",
        "x": 290,
        "y": 1280,
        "wires": [
            [
                "10267bdc.0024f4"
            ]
        ]
    },
    {
        "id": "e6ae10be.df176",
        "type": "ui_text_input",
        "z": "eacb55d2.e83628",
        "name": "",
        "label": "Frequência de Corte 1 (FC1)",
        "tooltip": "FC1",
        "group": "3655a0e7.fa203",
        "order": 2,
        "width": 7,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "user_fc1",
        "x": 240,
        "y": 520,
        "wires": [
            [
                "1c645176.57f2ff"
            ]
        ]
    },
    {
        "id": "f29c506e.15b92",
        "type": "comment",
        "z": "eacb55d2.e83628",
        "name": "Low/High - Pass Filter Parameters",
        "info": "",
        "x": 260,
        "y": 220,
        "wires": []
    },
    {
        "id": "bd75fe39.5329a",
        "type": "ui_text_input",
        "z": "eacb55d2.e83628",
        "name": "",
        "label": "Frequência de Corte Superior (FS1)",
        "tooltip": "FS1",
        "group": "317d3b9b.a45164",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "user_fs1",
        "x": 220,
        "y": 1100,
        "wires": [
            [
                "10267bdc.0024f4"
            ]
        ]
    },
    {
        "id": "9b7f6c8f.a0512",
        "type": "ui_text_input",
        "z": "eacb55d2.e83628",
        "name": "",
        "label": "Frequência de Corte Superior (FS2)",
        "tooltip": "FS2",
        "group": "317d3b9b.a45164",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "user_fs2",
        "x": 220,
        "y": 1160,
        "wires": [
            [
                "10267bdc.0024f4"
            ]
        ]
    },
    {
        "id": "e156a04e.48ab6",
        "type": "ui_text_input",
        "z": "eacb55d2.e83628",
        "name": "",
        "label": "Frequência de Amostragem (FS)",
        "tooltip": "FS",
        "group": "317d3b9b.a45164",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "user_fs",
        "x": 230,
        "y": 1220,
        "wires": [
            [
                "10267bdc.0024f4"
            ]
        ]
    },
    {
        "id": "c5284ecf.e892e",
        "type": "ui_text_input",
        "z": "eacb55d2.e83628",
        "name": "",
        "label": "Frequência de Corte 1 (FC1)",
        "tooltip": "FC1",
        "group": "317d3b9b.a45164",
        "order": 2,
        "width": 7,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "user_fc1",
        "x": 240,
        "y": 980,
        "wires": [
            [
                "10267bdc.0024f4"
            ]
        ]
    },
    {
        "id": "3c644af4.786286",
        "type": "ui_text_input",
        "z": "eacb55d2.e83628",
        "name": "",
        "label": "Frequência de Corte 2 (FC2)",
        "tooltip": "FC2",
        "group": "317d3b9b.a45164",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "user_fc2",
        "x": 240,
        "y": 1040,
        "wires": [
            [
                "10267bdc.0024f4"
            ]
        ]
    },
    {
        "id": "c1ca6a71.4a5b58",
        "type": "ui_button",
        "z": "eacb55d2.e83628",
        "name": "",
        "group": "317d3b9b.a45164",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Confirmar",
        "tooltip": "",
        "color": "white",
        "bgcolor": "",
        "icon": "fa-check fa-3x",
        "payload": "start",
        "payloadType": "str",
        "topic": "confirm",
        "x": 300,
        "y": 1340,
        "wires": [
            [
                "10267bdc.0024f4"
            ]
        ]
    },
    {
        "id": "10267bdc.0024f4",
        "type": "join",
        "z": "eacb55d2.e83628",
        "name": "Join Info",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "8",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 560,
        "y": 1180,
        "wires": [
            [
                "eab9949b.9540c8",
                "f67a840.d77d38"
            ]
        ]
    },
    {
        "id": "6800d774.715b78",
        "type": "file",
        "z": "eacb55d2.e83628",
        "name": "",
        "filename": "/home/trs/Iot_Projects/PDS_FilterFir/LowPassFIRFilter/temp/temp.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1130,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "9a3a34af.019fa8",
        "type": "ui_dropdown",
        "z": "eacb55d2.e83628",
        "name": "Grupo Faixas/Rejeita",
        "label": "Filtro",
        "tooltip": "Aqui você pode escolher um tipo de filtro",
        "place": "Escolha um filtro",
        "group": "317d3b9b.a45164",
        "order": 1,
        "width": 7,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Passa-Baixas",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Passa-Altas",
                "value": "2",
                "type": "str"
            },
            {
                "label": "Passa-Faixas",
                "value": "3",
                "type": "str"
            },
            {
                "label": "Rejeita-Faixas",
                "value": "4",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "filtertype",
        "x": 260,
        "y": 840,
        "wires": [
            [
                "22f05bce.526a94",
                "14473e3d.4d9f42"
            ]
        ]
    },
    {
        "id": "a7f8b05.05ffe5",
        "type": "rbe",
        "z": "eacb55d2.e83628",
        "name": "Apenas Passa se Mudar",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 250,
        "y": 740,
        "wires": [
            [
                "9a3a34af.019fa8"
            ]
        ]
    },
    {
        "id": "ee68f53a.82d9a8",
        "type": "delay",
        "z": "eacb55d2.e83628",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 630,
        "y": 580,
        "wires": [
            [
                "4e714968.2bc2e8"
            ]
        ]
    },
    {
        "id": "1c645176.57f2ff",
        "type": "delay",
        "z": "eacb55d2.e83628",
        "name": "",
        "pauseType": "delay",
        "timeout": "150",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 470,
        "y": 520,
        "wires": [
            [
                "4e714968.2bc2e8"
            ]
        ]
    },
    {
        "id": "1d46f315.b50f3d",
        "type": "rbe",
        "z": "eacb55d2.e83628",
        "name": "RBE",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 490,
        "y": 580,
        "wires": [
            [
                "ee68f53a.82d9a8"
            ]
        ]
    },
    {
        "id": "8eb69566.0f8888",
        "type": "ui_dropdown",
        "z": "eacb55d2.e83628",
        "name": "",
        "label": "Atenuação",
        "tooltip": "Atenuação",
        "place": "Selecione uma opção",
        "group": "3655a0e7.fa203",
        "order": 5,
        "width": 7,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "-21 dB",
                "value": 1,
                "type": "num"
            },
            {
                "label": "-25 dB",
                "value": 2,
                "type": "num"
            },
            {
                "label": "-44 dB",
                "value": 3,
                "type": "num"
            },
            {
                "label": "-53 dB",
                "value": 4,
                "type": "num"
            },
            {
                "label": "-74 dB",
                "value": 5,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "att",
        "x": 290,
        "y": 340,
        "wires": [
            [
                "749ac860.885308"
            ]
        ]
    },
    {
        "id": "b4779653.5b2dc8",
        "type": "function",
        "z": "eacb55d2.e83628",
        "name": "Convert Array to Json",
        "func": "\nvar filtertype = msg.payload.filtertype;\n\nvar cutoff1 = msg.payload.user_fc1;\n    \nvar cutoff2 = msg.payload.user_fc2;\n\nvar fs = msg.payload.user_fs;\n    \nvar att = msg.payload.att;\n    \n\n\nmsg.filterparameters =  {\n                            \"filter_type\": filtertype, \n                            \"cut_off1\": cutoff1,\n                            \"cut_off2\" : cutoff2,\n                            \"fs\": fs,\n                            \"att\":att,\n                        };\n                        \n                        \nmsg.payload = msg.filterparameters\n\n\nreturn msg;\n\n\n\n    \n    \n    \n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 980,
        "y": 360,
        "wires": [
            [
                "6800d774.715b78"
            ]
        ]
    },
    {
        "id": "2336089a.d64768",
        "type": "ui_button",
        "z": "eacb55d2.e83628",
        "name": "",
        "group": "3655a0e7.fa203",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Confirmar",
        "tooltip": "",
        "color": "white",
        "bgcolor": "blown",
        "icon": "fa-check fa-3x",
        "payload": "start",
        "payloadType": "str",
        "topic": "confirm",
        "x": 300,
        "y": 280,
        "wires": [
            [
                "258fdaca.7daf86"
            ]
        ]
    },
    {
        "id": "c06af5a8.f113b8",
        "type": "debug",
        "z": "eacb55d2.e83628",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 280,
        "wires": []
    },
    {
        "id": "619714a7.61b93c",
        "type": "ui_text_input",
        "z": "eacb55d2.e83628",
        "name": "",
        "label": "Frequência de Corte 2 (FC2)",
        "tooltip": "FC2",
        "group": "3655a0e7.fa203",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "user_fc2",
        "x": 240,
        "y": 460,
        "wires": [
            [
                "e1fca3a4.a7f39"
            ]
        ]
    },
    {
        "id": "5d3caef7.0f221",
        "type": "ui_text_input",
        "z": "eacb55d2.e83628",
        "name": "",
        "label": "Frequência de Amostragem (FS)",
        "tooltip": "FS",
        "group": "3655a0e7.fa203",
        "order": 4,
        "width": 7,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "user_fs",
        "x": 230,
        "y": 400,
        "wires": [
            [
                "47228a2d.283dc4"
            ]
        ]
    },
    {
        "id": "4e714968.2bc2e8",
        "type": "join",
        "z": "eacb55d2.e83628",
        "name": "Join Info",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "6",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 740,
        "y": 360,
        "wires": [
            [
                "b4779653.5b2dc8",
                "c06af5a8.f113b8"
            ]
        ]
    },
    {
        "id": "258fdaca.7daf86",
        "type": "delay",
        "z": "eacb55d2.e83628",
        "name": "",
        "pauseType": "delay",
        "timeout": "350",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 470,
        "y": 280,
        "wires": [
            [
                "4e714968.2bc2e8"
            ]
        ]
    },
    {
        "id": "749ac860.885308",
        "type": "delay",
        "z": "eacb55d2.e83628",
        "name": "",
        "pauseType": "delay",
        "timeout": "300",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 470,
        "y": 340,
        "wires": [
            [
                "4e714968.2bc2e8"
            ]
        ]
    },
    {
        "id": "47228a2d.283dc4",
        "type": "delay",
        "z": "eacb55d2.e83628",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 470,
        "y": 400,
        "wires": [
            [
                "4e714968.2bc2e8"
            ]
        ]
    },
    {
        "id": "e1fca3a4.a7f39",
        "type": "delay",
        "z": "eacb55d2.e83628",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 470,
        "y": 460,
        "wires": [
            [
                "4e714968.2bc2e8"
            ]
        ]
    },
    {
        "id": "eab9949b.9540c8",
        "type": "function",
        "z": "eacb55d2.e83628",
        "name": "Convert Array to Json",
        "func": "\nvar filtertype = msg.payload.filtertype;\n\nvar cutoff1 = msg.payload.user_fc1;\n    \nvar cutoff2 = msg.payload.user_fc2;\n\nvar cutoffsup1 = msg.payload.user_fs1;\n\nvar cutoffsup2 = msg.payload.user_fs2;\n\nvar fs = msg.payload.user_fs;\n    \nvar att = msg.payload.att;\n    \n\n\nmsg.filterparameters =  {\n                            \"filter_type\": filtertype, \n                            \"cut_off1\": cutoff1,\n                            \"cut_off2\" : cutoff2,\n                            \"cut_off_sup1\" : cutoffsup1,\n                            \"cut_off_sup2\" : cutoffsup2,\n                            \"fs\": fs,\n                            \"att\":att,\n                        };\n                        \n                        \nmsg.payload = msg.filterparameters\n\n\nreturn msg;\n\n\n\n    \n    \n    \n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 780,
        "y": 1180,
        "wires": [
            [
                "e0ce5ce0.d9e97"
            ]
        ]
    },
    {
        "id": "e0ce5ce0.d9e97",
        "type": "file",
        "z": "eacb55d2.e83628",
        "name": "",
        "filename": "/home/trs/Iot_Projects/PDS_FilterFir/LowPassFIRFilter/temp/temp.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 930,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "14473e3d.4d9f42",
        "type": "rbe",
        "z": "eacb55d2.e83628",
        "name": "RBE",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 310,
        "y": 920,
        "wires": [
            [
                "10267bdc.0024f4"
            ]
        ]
    },
    {
        "id": "f67a840.d77d38",
        "type": "debug",
        "z": "eacb55d2.e83628",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 1100,
        "wires": []
    },
    {
        "id": "3655a0e7.fa203",
        "type": "ui_group",
        "z": "",
        "name": "Filter_1",
        "tab": "f79aedb6.64041",
        "order": 1,
        "disp": false,
        "width": "7",
        "collapse": false
    },
    {
        "id": "317d3b9b.a45164",
        "type": "ui_group",
        "z": "",
        "name": "Filter_3",
        "tab": "f79aedb6.64041",
        "order": 3,
        "disp": false,
        "width": "7",
        "collapse": false
    },
    {
        "id": "f79aedb6.64041",
        "type": "ui_tab",
        "z": "",
        "name": "PDS_Project_v2",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]
